/*
 *	GLOBALS
 *  =============================================
 */

/*
 *	GLOBAL STYLES
 *	---------------------------------------------
 */

* {
  box-sizing: border-box;
}

html {
  padding: 4em;
  max-width: 75em;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans,Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}