<li class="c-post-item">
  {% if item.data.featureSrc %}
    <img loading="lazy" width="800" height="528" class="c-post-item__thumb" alt="{{ item.data.featureAlt }}">
  {% endif %}
  <a class="c-post-item__link" href="{{ item.url }}">{{ item.data.title }}</a>
  <p class="c-post-item__desc">
    <time datetime="{{ item.date | machineDate }}">{{ item.date | prettyDate }}</time> —
    {{ item.data.description }}
  </p>
</li>