<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if title %}{{ title | escape }} - {% endif %}{{ site.title }}</title>
  {% if description %}
    <meta name="description" content="{{ description }}">
  {% else %}
    <meta name="description" content="{{ site.description }}">
  {% endif %}
  <meta name="robots" content="index, follow">

  <!-- SOCIAL MEDIA -->
  {% if title %}
    <meta property="og:title" content="{{ title }}">
  {% else %}
    <meta property="og:title" content="{{ site.title }}">
  {% endif %}

  {% if description %}
    <meta property="og:description" content="{{ description }}">
  {% endif %}

  {% if featureSrc and featureExt %}
    <meta property="og:image" content="{{ site.url }}{{ site.images }}/content/{{ featureSrc}}-m.{{ featureExt }}">
    <meta name="twitter:card" content="summary_large_image">
    {% if featureAlt %}
      <meta name="twitter:image:alt" content="{{ featureAlt }}">
    {% endif %}
  {% else %}
    <meta name="og:image" content="{{ site.url }}/assets/images/icon-192.png">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:image:src" content="{{ site.url }}/assets/images/icon-192.png">
    <meta name="twitter:image:alt" content="">
  {% endif %}

  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ site.url}}/feed.xml">
  <link rel="canonical" href="{{ site.url }}{{ url }}">

  <!-- ICONS -->
  <link rel="icon" href="/assets/images/icon-favicon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="/assets/images/icon-180.png"> <!-- Apple Touch Icon -->
  <link rel="manifest" href="/manifest.webmanifest">

  <!-- STYLE -->
  <meta name="color-scheme" content="light dark">
  <link rel="stylesheet" href="/assets/css/style.css">
</head>