<svg focusable="false" class="icon-sprite" width="100" height="100" fill="none" xmlns="http://www.w3.org/2000/svg">
  <style>
    @media (forced-colors: active) {
      * {
        fill: CanvasText;
        stroke: CanvasText;
      }
    }
  </style>
  <defs>
    <!-- Icons with id attr go here -->
  </defs>
</svg>