/*
 *  =============================================
 *  GLOBALS
 *  Styles applied globally,
 *  including element selectors.
 *  =============================================
 */

/*
 *  ---------------------------------------------
 *  GLOBAL STYLES
 *  ---------------------------------------------
 */

* {
  box-sizing: border-box;
}

html {
  font-family: var(--font-body);
  padding: var(--space-m);
}

body {
  margin: 0 auto;
  max-width: 80rem;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

/*
 *  ---------------------------------------------
 *  TEXT
 *  ---------------------------------------------
 */

 p, ol, ul {
  margin-bottom: 0;
  margin-top: var(--space-s);
}

/*
 *  ---------------------------------------------
 *  SVG ICON SPRITE
 *  ---------------------------------------------
 */

.icon-sprite {
  display: none;
}