/*
 *  =============================================
 *  GLOBALS
 *  Styles applied globally,
 *  including element selectors.
 *  =============================================
 */

/*
 *  ---------------------------------------------
 *  GLOBAL STYLES
 *  ---------------------------------------------
 */

* {
  box-sizing: border-box;
}

html {
  background-color: var(--canvas-bg);
  color: var(--canvas-text);
  font-family: var(--font-body);
  padding: var(--space-m);
}

body {
  margin: 0 auto;
  max-width: 80rem;
  padding: 0;
}

:focus {
  outline-offset: 2px;
  outline: 2px solid currentColor;
}

::selection {
  background: var(--selection-bg);
  color: var(--selection-text);
}

::-moz-selection {
  background: var(--selection-bg);
  color: var(--selection-text);
}

/*
 *  ---------------------------------------------
 *  TEXT
 *  ---------------------------------------------
 */

a:link, a:visited {
  color: currentColor;
}

a:hover {
  text-decoration-color: var(--link-hover-border);
  text-decoration-line: underline;
  text-decoration-thickness: 3px;
}

p, ol, ul {
  margin-bottom: 0;
  margin-top: var(--space-s);
}

/*
 *  ---------------------------------------------
 *  MEDIA
 *  ---------------------------------------------
 */

img {
  max-width: 100%;
  height: auto;
}

/*
 *  ---------------------------------------------
 *  SVG ICON SPRITE
 *  ---------------------------------------------
 */

.icon-sprite {
  display: none;
}