/*
 *  =============================================
 *  VARIABLES
 *  =============================================
 */

/*
 *  ---------------------------------------------
 *  BREAKPOINTS
 *  ---------------------------------------------
 */

$bp-m: 48rem;
$bp-l: 64rem;
$bp-xl: 80rem;

/*
*  ---------------------------------------------
*  SPACING
*  ---------------------------------------------
*/

:root {
  --space-xxxs: .25rem;
  --space-xxs: .5rem;
  --space-xs: .75rem;
  --space-s: 1rem;
  --space-m: 2rem;
  --space-l: 3rem;
  --space-xl: 6rem;
  --space-xxl: 8rem;
}

/*
 *  ---------------------------------------------
 *  FONTS
 *  ---------------------------------------------
 */

:root {
  --font-heading: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans,Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  --font-body: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans,Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

/*
 *  ---------------------------------------------
 *  COLORS
 *  ---------------------------------------------
 */

:root {
  --selection-bg: #000;
  --selection-text: #fff;
}